*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.navLinks{

display: grid;
grid-template-columns: repeat(4,1fr);
justify-items: center;
column-gap: 52px;



}
.navCenter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1800px;
width: 100%;
margin: 10px auto;
}
.navLogo{
    width: 125px;
}
.nav{
        height: 150px;
        align-items: center;
        display: grid;

}

.navLinks a{
        text-decoration: none;
    font-size: 30px;
    color: currentColor;
    font-weight: bold;
    letter-spacing: 3px;
transition: all 0.2s linear;

}

.navLinks a:hover{

color: darkmagenta;
transform: scale(1.03);

}

.bannnerFoto{

    width: 600px;
    border: 6px solid darkmagenta;
    border-radius: 25px;
}
.bannerDiv{
        display: grid
;
    grid-template-columns: 1fr 1fr;
    /* align-items: center;
    justify-items: center; */
place-items: center;

}

.SectionCenter{
    max-width: 1450px;
margin: 20px auto;
width: 100%;


}



.section{
padding: 100px 0px;
}

.title{
    font-size: 80px;
}

.bannerInfo .underLine{
        border-bottom: 8px solid darkmagenta;
    width: 151px;
    margin: 5px auto 20px 0;
    /* yukarı sag asagı sol */
}

.bannerInfo h2{
    font-size: 55px;
    color: gray;
}

.btn{
    font-size: 30px;
    padding: 10px 14px;
    border-radius: 31px;
    color: darkred;
    background: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    transition: all 0.3s linear;

    
}

.btn:hover{
transform: scale(1.05);
color: white;
background-color: darkred;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}


.banner{
    background-color: lavender;
}

.allAbout{
    display: grid
;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.AboutText .underLine{
    width: 283px;
    height: 6px;
    background-color: darkmagenta;
    margin-left: 216px;
    margin-bottom: 38px;
    margin-top: -11px;
}

.AboutText p{
    font-size: 25px;
    color: g;
}

.AboutText{
    text-align: center;
}
.aboutMe{
    background-color: oldlace;
}


.allServices{
        display: grid
;
    grid-template-rows: 1fr 1fr;

}
.services{
    background-color: lavender;
}

.servicesChoice{
    display: grid
;
    grid-template-columns: 1fr 1fr 1fr;
}

.servicesTitle{
    text-align: center;
    display: contents;
}
.servicesTitle .underLine{
    width: 400px;
    height: 7px;
    background: darkmagenta;
    margin-left: 526px;
    margin-bottom: 100px;
    margin-top: -10px;
}




.card{
        border: 3px solid white;
    background-color: white;
    border-radius: 31px;
    padding: 20px 26px;
    margin-right: 26px;
    text-align: center;
    transition: all 0.3s linear;
}
.card i{
    font-size: 35px;
    margin-bottom: 25px;
}

.card h3{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}
.classunderline{
    width: 218px;
    height: 6px;
    background-color: darkmagenta;
    margin: -22px 0px 24px 94px;
}

.card p{
    font-size: 25px;
}

.card:hover{

    transform: scale(1.05px);
    color: white;
    background-color: darkmagenta;

    .classunderline{
        background-color: white;
    }
}



.projectText{
        display: grid
;
    justify-items: center;
    align-items: center;
    margin-bottom: 60px;
}
.projectText .underLine{
    width: 369px;
    height: 8px;
    background-color: darkmagenta;
    margin-left: 10px;
    margin-top: -1px;
    margin-bottom: 20px;
}
.projectText p{
    width: 50%;
    font-size: 20px;
}
.projectImg{

height: 100%;
width: 100%;
transition: all 0.2s linear;

}
.projectsTitle{
    display: grid;
    justify-items: center;
    margin-bottom: 65px;
    text-align: center;

}
.projectsText{
        font-size: 22px;
    max-width: 45%;
    width: 100%;
    font-style: oblique;
    margin: 0px auto;
}


.projectsTitle .underLine{
    width: 426px;
    height: 6px;
    background: darkmagenta;
    margin-bottom: 36px;
}


.projectSection{
    background-color: oldlace;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:300px 300px;
    gap: 20px;


    grid-template-areas: 
    'a b b'
    'a c d'
    
    ;
    
}

.project1{
    grid-area: a;
}


.project2{
    grid-area: b;
}


.project3{
    grid-area: c;
}


.project4{
    grid-area: d;
}

.projectInfo{
    position: absolute;
    color: white;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
opacity: 0;
transition: all 0.3s linear;


}

.project{
   height: 100%;
   position: relative;
   background-color: darkmagenta;
}
.project:hover .projectInfo{
opacity: 1;

}
.project:hover .projectImg{
opacity: 0.1;

}


.project::before{

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 7px solid white;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.2s linear;
}


.project:hover::before{
opacity: 1;
transform: scale(0.76);


}
#skills{
    background-color: lavender;
}
.skillTitle{
    display: grid;
    justify-items: center;
    margin-bottom: 50px;
}

.skillsSection .underLine{
    width: 450px;
    height: 6px;
    background-color: darkmagenta;
}
.skillsCenter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
}
.skillContanier{

    position: relative;
    width: 100%;
height: 20px;
background-color: white;
border-radius: 15px;

}
.skillValue{
position: absolute;
background-color: darkmagenta;
height: 100%;
/* width: 90%; */
border-radius: 15px;

}


.skillText{
    position: absolute;
    top: -34px;
    right: 10px;
    font-size: 23px;
}
.skillim{
    margin: 20px 0px;
    
}
.frontend h2{
        text-align: center;
    font-size: 35px;
    color: darkred;
}
.skillim p{
        font-size: 25px;
    margin-bottom: 10px;
    
}

.backend h2{
        text-align: center;
    font-size: 35px;
    color: darkred;
}


.value90{
    width: 90%;
}


.value85{
    width:85%;
}

.value80{
    width: 80%;
}

.value70{
    width: 70%;
}

.value60{
    width: 60%;
}



.cariierTitle{
        display: grid
;
    justify-items: center;
}

.cariierTitle .underLine{
        width: 241px;
    height: 7px;
    background: darkmagenta;
    margin-bottom: 90px;
}
.carierrCard{
    border-bottom:8px dotted  darkmagenta ;
    padding: 28px 25px;
    border-radius: 25px;
    transition: all 0.2s linear;
    position: relative;

}
.a{
border-right: 8px dotted darkmagenta;
    border-radius: 25px;

}
.b{
border-left: 8px dotted darkmagenta;
    border-radius:25px;


}

.carierrCard h3{
    margin-top: 10px;
    font-size: 36px;
    margin-bottom: 18px;
}
.carierrCard p{
    margin-bottom: 20px;
    font-size: 28px;
}

.carierrCard:hover {
   transform: scale(1.05)
  
   
}

.cariierNumber{
    position: absolute;
    top: 50%;
    
    border: 1px solid yellow;
    padding: 7px 12px;
    background-color: yellow;
    border-radius: 58%;
    font-weight: 900;
}
.sag{
 right: -19px;
}
.sol{
left: -19px;
}

.carieer{
    background-color:oldlace ;
}



.TextTitle{
    display: grid
;
    justify-items: center;
    margin-bottom: 80px;    
}

.TextTitle .underLine{
    width: 200px;
    height: 6px;
    background-color: darkmagenta;
}

.textCards{
        display: grid
;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;


}
.textCard img{
    width: 100%;
    border-radius:25px 25px 0px 0px ;
}

.textCard{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 25px;
margin-bottom: 25px;
transition: all 0.2s linear;
}

.textCard h3{
        font-size: 29px;
    margin: 20px;
}
.textCard p{
    font-size: 18px;
    margin-top: 10px;
}

.textCard .btn{
    font-size: 25px;
    margin-bottom: 35px;
}
.textCard:hover{
    transform: scale(1.06);
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.footer{
    background-color: black;
    color: white;
}

.footers{
    text-align: center;
}

.footerIcon{
    margin-bottom: 30px;
    font-size: 39px;
    word-spacing: 37px;
}
.footerText{
    font-size: 27px;
}
.footerIcon a{
    color: white;
    transition: all 0.2s linear;
}
.footerIcon a:hover{
    color: darkred;
    transform: scale(1.04);
}
.navBtn{
    display: none;
}
.sidebar{
    position: fixed;
    width: 100%;
height: 100%;
background-color: gray;
top: 0;
left: 0;
display: grid;
place-items: center;
transform: translateX(-100%);
transition: all 0.3s linear;



}
.showSidebar{
transform: translateX(0);

}

.closeButton{
    position: absolute;
    top:33px;
    right:33px;
    font-size: 130px;
    background-color: transparent;
    border: transparent;
    color: darkred;

}
.sidebarLinks a{
    color: white;
    font-size: 90px;
    letter-spacing: 3px;

}
.sidebarLinks li{
    margin-bottom: 60px;
}



@media screen and (max-width:768px) {


    body{
        width: 300%;
    }
    
}


@media screen and (max-width:468px) {
body{
    overflow-x: hidden;
}

.navLinks{
    display: none;
}

.bannnerFoto,.bannerImg{
    display: none;
}


.servicesChoice{
        display: grid
;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 80px;
    grid-template-columns: 1fr;
    margin: 0px 60px;
}

.projectsText{
    max-width: 70%;
}

.projects{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'a'
        'b'
        'c'
        'd';
}
.projects img{
    width: 80%;
    margin-left: 80px;
}

.skillsCenter{
    grid-template-columns: 1fr;
    padding: 30px;
}
.textCards{

grid-template-columns: 1fr;
padding: 50px;

}

.btn{
    font-size: 60px;
}

.allAbout{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;

}

.allAbout .underLine{
margin-left: auto;
margin-right: auto;
}

.bannerDiv{
    grid-template-columns: 1fr;
}
.bannerInfo{
    text-align: center;
}

.bannerInfo .underLine{
  margin-left: auto;
margin-right: auto;
}


.navCenter{
    grid-template-columns: 1fr;
}
.navBtn{
    font-size: 45px;
    display: grid;
    justify-self: end;
    color: darkmagenta;
    
}
.First{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}






}












